* * * * * /usr/local/bin/php -f /var/www/html/bin/cron/notifications.php
* * * * * /usr/local/bin/php -f /var/www/html/bin/cron/survey.php
* * * * * /usr/local/bin/php -f /var/www/html/bin/cron/clear-reservation.php
* * * * * /usr/local/bin/php -f /var/www/html/bin/cron/expired-appointment.php
* * * * * /usr/local/bin/php -f /var/www/html/bin/cron/reminder.php
